.head
{
  background-color: #397100;
  padding: 2px 0 2px 0;
  text-align: center;
}
body
{
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #492064;
}
ul li {
  float: left;
}
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #7a40a0;
}
h1 {
  color: white;
  font-family: "Sour Gummy", sans-serif;
  font-size: 45px;
}
.progress {
  background-color: #492064;
  width: 80%;
  margin: auto;
  color: white;
}
hr {
  border: solid 4px #397100
}
.title {
  padding-left: 5%;
  padding-top: 2.5%;
}
.bar {
  background-color: white;
  width: 90%;
  margin: auto;
  border-radius: 10px;
}
.inner-bar-hero, .inner-bar-villain {
  background-color: #397100;
  border-radius: 10px;
  padding-left: 0px;
}
.inner-bar-hero {
  width: 70%;
}
.inner-bar-villain {
  width: 18%;
}
.bar-text {
  color: white;
  padding-left: 5px;
}
h3 {
  text-align: center;
  font-size: 25px;
  color: #397100;
  font-family: "Sour Gummy", sans-serif;
}
.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 2.5%;
  background-color: #397100;
}
.foot-text {
  color: white;
  margin: auto;
  text-align: center;
}